body {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   color: #333333;
   font-size:85%;
   background-color:#ffffff;
}
a {
   text-decoration:none;
   color:#17399C;
}
a:hover {
   text-decoration:underline;
}
th {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}
td {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   vertical-align:top;
}
h1,h2,h3,h4,h5,h6 {
   margin:0px 0px 0px 0px;
}
select,input {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   font-size:80%;
}
form {
   margin:0px 0px 0px 0px;
}
img {
   border:0px solid #ffffff;
}
.maintable {
   background-color:#cccccc;
   font-size:85%;
   -moz-border-radius:2px;
   color:#333333;
   border: 1px solid #cccccc;
}
.tablehead {
   font-size:110%;
   font-weight:bold;
}
.row1 {
   background-color:#dddddd;
}
.row2 {
   background-color:#eeeeee;
}
.hilite {
   font-weight: bold;
}
.torrenttitle {
   font-weight: bold;
}
.viewseloff {
   border-top: 1px solid #cccccc;
   border-right:1px solid #cccccc;
   border-left: 1px solid #cccccc;
   background-color: #aaaaaa;
}
.viewselon {
   border-top: 1px solid #cccccc;
   border-right:1px solid #cccccc;
   border-left: 1px solid #cccccc;
   background-color: #cccccc;
   font-weight: bold;
}
.smalltext {
   font-size:70%;
}
.mediumtext {
   font-size:85%;
}
.controls {
   text-decoration:none;
}
.controls:hover {
   text-decoration:none;
   color:#339933;
}
.completeactive {
   color: #339933;
}
.incompleteactive {
   color: #333399;
}
.completeinactive {
   color: #115511;
}
.incompleteinactive {
   color: #111155;
}
.datacol {
   border-right: 1px dotted #999999;
}